@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: rgba(202, 204, 206, 0.137) !important;
}

#rule_btn a{
    color: white;
}

#update{
    padding: 5px 8px 5px 10px;
    background-color: #0275d8;
    border-radius: 5px;
    border: 1px  white;
}

#delete{
    padding: 5px 10px 5px 10px;
    background-color: #dc3d31;
    border-radius: 5px;
    border: 1px  white;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#update a{
    color: white;
    font-size: 16px;
}
#delete a{
    color: white;
    font-size: 16px;
}

#cari_btn{
    background-color: #0275d8;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 3px 10px 3px 10px;
    margin-right: 10px;
}


#gejala_btn{
    background-color: #0275d8;
    margin-left: 10px;
    border: none;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
}
#gejala_btn a{
    color: white;
}

.table th{
    color: black;
    border-bottom: 1px solid rgb(216, 212, 212);
    text-align: center;
}

.table td{
    border-bottom: 1px solid rgb(216, 212, 212);
    text-align: justify;
}
.judul{
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: center;
}



.pagination a{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: 0.01em solid whitesmoke;
}

.searchAndRule{
    background-color: white;
    margin-bottom: 30px;
}

.container{ 
    margin-top: 80px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: white;
}

.search_rule input{
    border-radius: 5px;
    border: 0.1em solid rgba(107, 107, 107, 0.221);
    margin-right: 5px;
}

#rule_btn{
    background-color: #0275d8;
    border-radius: 5px;
    border: none;
    padding: 3px 10px 3px 10px;
    margin-left: 10px;
}

@media screen and (max-width: 1200px) {
    #update{
        margin-bottom: 5px;
    }
  }

  @media screen and (max-width: 578px) {
    table td{
        font-size: 13px;
    }
    table th{
        font-size: 13px;
    }
    .search_rule input{
        width: 140px;
        font-size: 13px;
    }
    #cari_btn{
        font-size: 13px;
        margin-right: 0px;
    }
    #update a{
        font-size: 14px;

    }
    #rule_btn{
        padding: 1px 3px 1px 10px
    }
    #delete a{
        font-size: 14px;
    }
    #rule_btn a{
        font-size: 13px;
    }
    #rule_btn{
        padding: 1px 8px 1px 8px;
        margin-left: 0px;
    }
    .pagination a{
        font-size: 14px;
        
    }
    .judul{
        font-size: 28px;
    }
    
  }

  @media screen and (max-width: 520px) {
    table td{
        font-size: 12px;
    }
    table th{
        font-size: 12px;
    }
    .search_rule input{
        width: 110px;
        font-size: 12px;
    }
    #cari_btn{
        font-size: 12px;
    }
    #update a{
        font-size: 12px;

    }
    #delete a{
        font-size: 12px;
    }
    #rule_btn a{
        font-size: 12px;
    }
    
  }








