body{
    background-color: rgba(202, 204, 206, 0.137) !important;
  
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;

}

.btn_panduan{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 3px;
    padding-bottom: 5px;
    margin-top: 10px;
    float: left;
    color: white;
    background-color: #141eb4;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn_panduan:hover{
    color: #3e45af;
    transition: .4s;
}

.modal-body ol li{
    font-size: 15px;
    margin-bottom: 5px;
    text-align: justify;
}



*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.table th,.table td{
    border-bottom: 1px solid rgb(212, 210, 210);
}

.btn-kondisi{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 3px;
    padding-bottom: 5px;
    margin-top: 10px;
    float: right;
    color: white;
    background-color: #141eb4;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.btn-kondisi:hover{
    background-color:  #3e45af;
    transition: .4s;
}

.btn-kondisi i{
 font-size: 20px;
 color: white;
}



.title-section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.container select{
  padding-right: 20px;
  background-color: rgba(202, 204, 206, 0.04) ;
  border-radius: 3px;
  border: none;
}

.note{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
}

@media(max-width:880px){
    .btn-kondisi{
        margin-right: 10px;
    }
    .note{
        font-size: 13px;
        
    }
    .title-section hr{
        width: 80%;
    }
   
}