/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p{
    max-width: 800px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0 0.2rem 0;
    margin-right: 30px;
    font-size:20px;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} */


@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Poppins',sans-serif;
}

footer{
    position: flex;
    bottom: 0;
}
.footer-width{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0px;
    
}

@media (max-height:800px){
    footer{
        position: static;
    }
}

.footer-distributed{
    background-color: black;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

}

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed h3{
    color: #fff;
    font: normal 36px 'Poppins',cursive;
    margin: 0;
    font-weight: 600;
}

.footer-distributed .footer-links{
    color: #fff;
    margin: 10px 0 12px;
}

.footer-distributed .footer-links a{
    display: inline-block ;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-app-name{
    color: aliceblue;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center{
    width: 30%;
}

.footer-distributed .footer-center i{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius:50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i .fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a{
    color: #13a2b7;
    text-decoration: none;
}

.footer-distributed .footer-right{
    width: 32%;
}
.footer-distributed .footer-app-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    text-align: justify;
    margin: 17px;
}
.footer-distributed .footer-app-about span{
    display: block;
    color: gainsboro;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
    margin-left: 18px;
    
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
    background-color: #13a2b7;
}
.footer-links a:hover{
    color: #13a2b7;
}

@media(max-width:880px){
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        margin-left: -10px;
 

    }
    .footer-distributed .footer-center i{
        margin-left: 0;

    }
    .footer-distributed .footer-icons{
        margin-left: 0px;
    }
    .footer-distributed .footer-right .footer-app-about{
        text-align: center;
    }
}


