body{
    background-color: rgba(202, 204, 206, 0.137) !important;
  
}

.container{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: black;
    font-weight: 800;
}

form{
    width: 550px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 4px 3px 10px 5px rgb(203, 203, 203)
}


select{
    display: inline-block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;

}

input{
    display: inline-block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:  5px;
    
    font-size: 16px;
}

label{
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

#btn_submit{
    background: transparent;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    background:  #13a2b7;
    padding-left: 0;
    font-weight: 600;
    font-size: 16px;
    
}




