@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,600;1,700;1,800&display=swap');


body{
    background-color: rgba(202, 204, 206, 0.137) !important;
}

.title-section h2{
    text-align: center;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    margin-top: 30px;
}

.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
.saranPenyakit th{
    font-size: 20px;
}

.jenisPenyakit td h5{
    font-size: 18px;
}

.jenisPenyakit th{
    font-size: 20px;
}

.pilihanGejala td{
    font-size: 16px;
    font-weight: 500;
}

.dataPasien table{
    border: 2px solid #d4d6d8;
}
.pilihanGejala table{
    border: 2px solid #d4d6d8;
}


.btn-hasil{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.retry{
    margin-left: 10px;
    background-color: #13a2b7;
    color: white;
    border: 1px solid #13a2b7;
}

.retry:hover{
    background-color: #13a1b7b9;
    border: 1px solid #13a1b7b9;
    color: whitesmoke;
}

.selesai{
    margin-left: 10px;
    background-color: #13a2b7;
    color: white;
    border: 1px solid #13a2b7;
}

.selesai:hover{
    background-color: #13a1b7b9;
    border: 1px solid #13a1b7b9;
    color: whitesmoke;
}

.print{
    justify-content: end;
    float: right;
    margin-left: 20px;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-size: 18px;
}



.print:hover{
    border: 2px solid black;
    background-color: rgb(224, 224, 224);
}

.print i{
    margin-right:10px;
    font-size: 20px;
}
.btn-print{
    margin-right: 10px;
}
.dataPasien table th{
    font-size: 22px;
}

.dataPasien table td{
    font-size: 16px;
    font-weight:500;
}
@media screen and (max-width:768px) {
    .saranPenyakit th{
        font-size: 16px;
    }
    
    .jenisPenyakit td h5{
        font-size: 16px;
    }
    
    .jenisPenyakit th{
        font-size: 16px;
    }
    
    .pilihanGejala td{
        font-size: 14px;
    }
    .dataPasien table th{
        font-size: 16px;
    }
    .dataPasien table td{
        font-size: 14px;
    }
    .print{
        padding: 5px 20px 5px 20px;
        font-size: 16px;
    }
    .print i{
        font-size: 18px;
    }
}




@page{
    size: A4;
}
@media print{
    .dataPasien table{
        border: 1px solid #090909;
    }
    .pilihanGejala table{
        border: 1px solid #090909;
    }
    .hide, #navbar{
        display: none;
        visibility:none;
    }
}

@media print and (max-width: 600px){
    .hide, #navbar{
        display: none;
        visibility:none;
    }
}