/* body{
    background-color: rgba(202, 204, 206, 0.137) !important;
  
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: #13a2b7;
}

form{
    width: 350px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

input{
    display: inline-block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 55px;
    margin-top: 10px;
    font-size: 16px;
}

label{
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
}

#button_submit{
    background: transparent;
    color: black;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid #13a2b7;
    padding-left: 0;
    
}

#button_submit:hover{
    opacity: .7s;
    background: #13a2b7;
    color: white;
}

.userspan{
  float: left;
  margin-left: 20px;
  margin-top: -48px;
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #a8a4a4;
} */


*{
    font-family: "Poppins", sans-serif;
}

.wrapper{
    background: white;
    padding: 0 20px 0 20px;
}

body{
    background-color: rgba(202, 204, 206, 0.137) !important;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


img{
    width:35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text p {
    color: white;
    font-size: 18px;
}

i{
    font-weight: 400;
    font-size: 15px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    box-sizing: border-box;
}

.input-box h2{
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.side-image{
    background-image: url("../images/clip.png");
    background-position: center;
    background-size:320px ;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
    background-color: rgb(167, 208, 241);
}

.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}


input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 30px;
    color: #40414a;
}

.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}


.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}


.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}



.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #13a2b7;
}




 .submit{
    border: none;
    outline: none;
    height: 45px;
    background: #13a2b7;
    border-radius: 5px;
    transition: .4s;
    text-align: center;
    font-size: medium;
    margin-top: 30px;
    color: white;
} 


.submit:hover{
    background: rgba(37,95,156,0.5);
    color: #fff;
}

/* #button_submit{
    background: transparent;
    color: black;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid #13a2b7;
    padding-left: 0;
    
}

#button_submit:hover{
    opacity: .7s;
    background: #13a2b7;
    color: white;
}

.userspan{
  float: left;
  margin-left: 20px;
  margin-top: -52px;
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #a8a4a4;
}  */



@media only screen and (max-width:768px) {
    .side-image{
        border-radius: 10px 10px 0 0;
        background-position: 70px 0px;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text,p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
    
}

