body{
  background-color: rgba(202, 204, 206, 0.137) !important;

}

.container{
  display: flex;
  border-radius: 10px;
}

*{
  font-family: sans-serif;
  box-sizing: border-box;
}

.section-title{

  margin-top: 60px;
  text-align: justify;
}

.section-jenis{
  text-align: center;
}

.section-title h2{
  margin-bottom: 20px;
}

.wrapper {
	display: flex;
}
.indicator {
	padding: 1.5rem 0;
	border-right: 1px solid #eee;

}
.indicator li {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
	padding: 10px 1rem;
	cursor: pointer;
	font-size: .875rem;
	color: var(--black);
	border-right: 3px solid transparent;
  	width: 250px;
}
.indicator li i {
	font-size: 1rem;
}
.indicator li:hover {
	background: var(--light-blue);
}
.indicator li.active {
	border-right-color: var(--blue);
	color: var(--blue);
	background: var(--light-blue);
}
.content {
	padding: 1.5rem 2rem;
	margin-right: -30px;
}
.content li {
	display: none;
}
.content li.active {
	display: block;
}

 .content li.active ol li {
	display: list-item;
	font-size: .875rem;
}


.content li h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--black);
	margin-bottom: .75rem;
}
.content li p {
	margin-bottom: .5rem;
	color: var(--dark-grey);
	font-size: .875rem;
}

.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 576px) {
	.wrapper {
		flex-direction: column;
	}
	.indicator {
		border-right: none;
	}
	.content {
		padding: 1.5rem 0rem;
		margin-right: 0px;
	}
	.section-title p{
		font-size: 0.9rem;
	}
	.section-title ol li{
		font-size: 0.9rem;
	}
}
